body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.gridCell {
  height: 3px;
  width: 3px;
  background-color: red;
}

.gridRow {

  display: inline;
  float: left;
  margin: 0 0 0 0;
}

.matrix {
}
